.m-bannerHero {
	overflow: hidden;
}

/* Hide non-first slides before Splide initializes */
.m-bannerHero__inner:not(.is-initialized) .m-bannerHero__slide:not(:first-of-type){
	display: none !important;
}

.m-bannerHero .splide__slide {
	height: auto;
}

.m-bannerHero__headings {
	display: flex;
	flex-direction: column-reverse;
	word-break: normal;
}

.m-bannerHero__title {
	margin: 0;
}

.m-bannerHero__summary {
	margin-top: var(--space20);
}

.m-bannerHero__actions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gridGutters);
	margin-top: var(--space20);
}

.m-bannerHero__image,
.m-bannerHero__video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.m-bannerHero__video {
	display: block;
	position: relative;
}
