.m-siteNavigation__links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.m-siteNavigation__menuItem.has-submenu {
	position: relative;
}

.m-siteNavigation__item {
	margin: 0;
}

.m-siteNavigation__link {
	display: flex;
	align-items: center;
	padding: var(--space20);
	width: 100%;
}

.m-siteNavigation__link--toplevel {
	background: none;
	border: none;
}

.m-siteNavigation__linkIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	background: none;
	border: none;
	width: 50px;
}

.m-siteNavigation__megaMenuColumnsItem,
.m-siteNavigation__subLinksItem {
	display: flex;
	align-items: center;
	margin: 0;
}

.m-siteNavigation__megaMenuLabel {
	display: flex;
	align-items: center;
	margin-bottom: var(--space20);
	font-size: 1.375rem;
}

.m-siteNavigation__megaMenuLabel:hover,
.m-siteNavigation__megaMenuLabel:focus-visible {
	text-decoration: none;
}

.m-siteNavigation__megaMenuLabel:hover .m-siteNavigation__linkIcon,
.m-siteNavigation__megaMenuLabel:focus-visible .m-siteNavigation__linkIcon {
	margin-left: var(--space20);
}

.m-siteNavigation__megaMenuCta {
	display: none;
}

.m-siteNavigation__megaMenuColumnsLinks,
.m-siteNavigation__subLinksList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.m-siteNavigation__details {
	padding: var(--space20);
}

.m-siteNavigation__detailsHeading {
	margin: 0;
}

.m-siteNavigation__detailsSummary {
	margin: var(--space20) 0 0;
}

.m-siteNavigation__detailsLink {
	margin-top: var(--space20);
}

.m-siteNavigation__detailsImage {
	margin-top: var(--space20);
}

@media (width < 1200px) {

	.m-siteNavigation__menuItem {
		margin: 0 var(--space20);
	}

	.m-siteNavigation__megaMenu,
	.m-siteNavigation__subLinks {
		position: absolute;
		top: 0;
		left: 0;
		background: var(--white);
		width: 100%;
		height: 100%;
		z-index: 2;
		translate: 100% 0;
	}

	.m-siteNavigation__subLinks {
		z-index: 3;
	}

	.m-siteNavigation__megaMenu.active,
	.m-siteNavigation__subLinks.active {
		translate: 0 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.m-siteNavigation__item:not(:last-child),
	.m-siteNavigation__megaMenuColumnsItem:not(:last-child),
	.m-siteNavigation__subLinksItem:not(:last-child) {
		border-bottom: var(--border1) solid;
	}

	a.m-siteNavigation__link--toplevel {
	    display: none;
	}

	.m-siteNavigation__menuBack {
		display: flex;
		align-items: center;
		padding: var(--space20);
		border: none;
		width: 100%;
		font-size: 0.9375rem;
		text-align: left;
	}

	.m-siteNavigation__menuBackLabel {
		margin-left: var(--space20);
		font-weight: var(--fontBold);
	}

	.m-siteNavigation__detailsImage {
		margin-inline: auto;
		display: block;
	}

	.m-siteNavigation__linkIcon--desktop {
		display: none;
	}

}

@media (width >= 1200px) { /* Container width variable */

	.m-siteNavigation__links {
		display: flex;
		align-items: center;
	}

	.m-siteNavigation__menu,
	.m-siteNavigation__menuItem {
		display: flex;
	}

	.m-siteNavigation__menuBack,
	.m-siteNavigation__megaMenuLabel--level3 {
		display: none;
	}

	/* Mega menu */

	.m-siteNavigation__megaMenu {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: var(--space20) 0;
		background-color: var(--white);
		transition: opacity var(--transitionSpeed);
	}

	.m-siteNavigation__item--haschildren.hovering .m-siteNavigation__megaMenu {
		opacity: 1;
		visibility: visible;
	}

	.m-siteNavigation__megaMenuInner {
		max-width: var(--containerWidth);
		margin-inline: auto;
		height: 100%;
	}

	.m-siteNavigation__megaMenuColumnsLinks {
		position: relative;
		width: 325px;
	}

	.m-siteNavigation__subLinks {
		display: none;
		position: relative;
		padding: 0;
	}

	.m-siteNavigation__item--toplevel + .m-siteNavigation__item--toplevel {
		margin: 0 0 0 var(--space20);
	}

	.m-siteNavigation__link:hover,
	.m-siteNavigation__item.hovering .m-siteNavigation__link--toplevel {
		text-decoration: none;
	}

	.m-siteNavigation__link--toplevel {
		position: relative;
		font-weight: var(--fontBold);
	}

	button.m-siteNavigation__link--toplevel {
	    display: none;
	}

	.m-siteNavigation__link--toplevel:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		opacity: 0;
		transition: opacity var(--transitionSpeed);
	}

	.m-siteNavigation__link--toplevel:hover:after,
	.m-siteNavigation__item.hovering .m-siteNavigation__link--toplevel:after {
		opacity: 1;
	}

	.m-siteNavigation__link:not(.m-siteNavigation__link--toplevel) {
		transition: border var(--transitionSpeed), color var(--transitionSpeed);
	}

	.m-siteNavigation__megaMenuColumnsItem.hovering .m-siteNavigation__link--level2,
	.m-siteNavigation__subLinksItem.hovering .m-siteNavigation__link--level3 {

	}

	.m-siteNavigation__megaMenuColumnsItem.hovering .m-siteNavigation__link--level2 .m-siteNavigation__linkIcon svg,
	.m-siteNavigation__subLinksItem.hovering .m-siteNavigation__link--level3 .m-siteNavigation__linkIcon svg {

	}

	.m-siteNavigation__linkIcon--desktop {
		margin-left: auto;
		padding-left: var(--space20);
	}

	.m-siteNavigation__linkIcon svg {
		fill: currentColor;
	}

	.m-siteNavigation__linkIcon--mobile {
		display: none;
	}

	.m-siteNavigation__megaMenuColumnsItem.hovering .m-siteNavigation__subLinks--level2,
	.m-siteNavigation__subLinksItem.hovering .m-siteNavigation__subLinks--level3 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}

	.m-siteNavigation__subLinks {
		border-left: var(--border1) solid;
	}

	.m-siteNavigation__subLinks {
		width: 325px;
	}

	.m-siteNavigation__subLinks--level2 {
		width: 325px;
		translate: 325px 0;
	}

	.m-siteNavigation__subLinks--level3 {
		width: calc(var(--containerWidth) - 690px);
		translate: 325px 0;
	}

	.m-siteNavigation__details {
		padding: var(--space20);
	}

	.m-siteNavigation__detailsImage {
		width: 215px;
	}

}

@media (width >= 1400px) {

	.m-siteNavigation__subLinks--level3 {
		width: calc(var(--containerWidth) - 650px);
	}

}
