{% macro render_blog_post(posts) %}
{% for item in posts %}
<article class="m-articleGrid__item splide__slide js-rotator__item">

	{% if item.featured_image %}
	<div class="m-articleGrid__imagewrapper">
		<img class="m-articleGrid__image" src="{{ resize_image_url(item.featured_image, 0, 0, 681) }}" alt="{{ item.featured_image_alt_text }}" loading="lazy">
	</div>
	{% endif %}

	<div class="m-articleGrid__contentWrapper">

		{% if item.name %}
		<h3 class="m-articleGrid__articleheading h4">
			<a class="m-articleGrid__headingLink" href="{{ item.url }}">{{ item.name }}</a>
		</h3>
		{% endif %}

		{% if module.blog_options.display_date %}
		<div class="m-articleGrid__articledate">
			<time>{{ item.publish_date|datetimeformat('%d.%m.%y') }}</time>
		</div>
		{% endif %}

		{% if module.blog_options.display_tags %}
		<div class="m-articleGrid__articletags">
			<ul class="m-tags">
				{% for tag in item.topic_list %}
				<li>
					<a class="m-tags__tag" href="{{ blog_tag_url(blog_id, tag.slug) }}">{{ tag.name }}</a>
					{% if !loop.last %}
					<span class="m-tags__itemdivider">,</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if module.blog_options.display_summary %}
		{% if item.post_summary %}
		<p class="m-articleGrid__articlesummary">
			{{ item.post_summary|truncatehtml(155, "..." , false)|striptags }}
		</p>
		{% elif item.post_body %}
		<p class="m-articleGrid__articlesummary">
			{{ item.post_body|truncatehtml(155, "..." , false)|striptags }}
		</p>
		{% endif %}
		{% endif %}

	</div>

</article>
{% endfor %}
{% endmacro %}

{% set related_posts = [] %}

{% if module.blog_options.content_type == 'manual' %}
{% for item in module.blog_options.manual_posts %}
{% do related_posts.append({
    'title': item.title,
    'post_summary': item.summary,
    'featured_image': item.image_field.src,
    'featured_image_alt_text': item.featuredImageAltText,
    'url': item.url_field.href
  }) %}
{% endfor %}
{% elif module.blog_options.content_type == 'blog_post' %}
{% for item in module.blog_options.page_field %}
{% set content = content_by_id(item) %}
{% do related_posts.append({
    'title': content.title ? content.title : content.name,
    'post_summary': content.post_summary ? content.post_summary|truncatehtml(155, "..." , false)|striptags|escapejson : content.post_body|truncatehtml(155, "..." , false)|striptags,
    'featured_image': content.featured_image,
    'featured_image_alt_text': content.featured_image_alt_text,
    'publish_date': content.publish_date,
    'topic_list': content.topic_list,
    'url': content.url
  }) %}
{% endfor %}
{% else %}
{% set blog_id = module.blog_options.blog_field ? module.blog_options.blog_field : "default" %}
{% set tag_posts = blog_recent_tag_posts(blog_id, module.blog_options.tag_field ? module.blog_options.tag_field : blog_tags("default", 4), 4) %}
{% if tag_posts %}
{% for index in range(tag_posts|length > 3 ? 3 : tag_posts|length) %}
{% set item = tag_posts[index] %}
{% if item and item.id != content.id %}
{% do related_posts.append({
    'title': item.title ? item.title : item.name,
    'post_summary': item.post_summary ? item.post_summary|truncatehtml(155, "..." , false)|striptags|escapejson : item.post_body|truncatehtml(155, "..." , false)|striptags,
    'featured_image': item.featured_image,
    'featured_image_alt_text': item.featured_image_alt_text,
    'publish_date': item.publish_date,
    'topic_list': item.topic_list,
    'url': item.url
  }) %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
{% endif %}

	<div id="{{ name }}" class="m-articleGrid">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading, module.enable_module_heading) }}

				<div class="m-articleGrid__list splide js-rotator">
					<div class="splide__track">
						<div class="splide__list">
							{{ render_blog_post(related_posts) }}
						</div>
					</div>
				</div>

				{% if related_posts|length > 1 %}
				<div id="{{ name }}__controls" class="m-articleGrid__controls m-controls">
					<span class="m-controls__slidecount m-controls__slidecount--light js-raCounter"></span>
					<div class="m-articleGrid__arrows m-arrows m-arrows--light">
						<button class="m-arrows__btn m-arrows__btn--prev js-raPrev">
							<span class="show-for-sr">Previous</span>
							{% icon name="arrow-left" style="SOLID" width="12" %}
						</button>
						<button class="m-arrows__btn m-arrows__btn--next js-raNext">
							<span class="show-for-sr">Next</span>
							{% icon name="arrow-right" style="SOLID" width="12" %}
						</button>
					</div>
				</div>
				{% endif %}

			</div>
		</div>
	</div>

{% if module.scrollid %}
</div>
{% endif %}

{% if related_posts|length > 1 %}

{{ require_css(get_asset_url('../../../css/vendor/vendor.splide.css')) }}
{{ require_js(get_asset_url('../../../js/vendor/vendor.splide.js'), { position: "footer", async: true }) }}

{% require_js position='footer' %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const sliderEl = document.querySelector('#{{ name }} .js-rotator');
		const sliderCounter = document.querySelector('#{{ name }} .js-racounter');
		if (!sliderEl) return;

		const splide = new Splide(sliderEl, {
			type: 'slide',
			perPage: 1,
			perMove: 1,
			arrows: false,
			pagination: false,
			mediaQuery: 'min',
			breakpoints: {
				768: { perPage: 2 },
				992: { destroy: true }
			}
		});

		function updateCounter() {
			if (sliderCounter && splide.Components && splide.Components.Controller) {
				const current = splide.index + 1;
				const total = splide.length;
				sliderCounter.textContent = current + ' of ' + total;
			}
		}

		splide.on('mounted move', updateCounter);

		const prevBtn = document.querySelector('#{{ name }} .js-raprev');
		const nextBtn = document.querySelector('#{{ name }} .js-ranext');

		if (prevBtn) {
			prevBtn.addEventListener('click', function() { splide.go('<'); });
		}
		if (nextBtn) {
			nextBtn.addEventListener('click', function() { splide.go('>'); });
		}

		splide.mount();
		updateCounter();
	});
</script>
{% end_require_js %}

{% endif %}

</div>
