{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-video">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading, module.enable_module_heading) }}

				<!-- Schema -->
				<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "VideoObject",
	"name": "{{ module.video.schema.title }}",
	"description": "{{ module.video.schema.summary }}",
	"thumbnailUrl": "{{ module.video.schema.thumbnail_url }}",
	"duration": "PT{{ module.video.schema.duration }}",
	"contentUrl": "{% if module.video.video_type == 'embed' and module.video.platform_options.platform == 'vimeo' %}https://player.vimeo.com/{{ module.video.platform_options.video_id }}{% endif %}{% if module.video.video_type == 'embed' and module.video.platform_options.platform == 'youtube' %}https://www.youtube.com/{{ module.video.platform_options.video_id }}{% endif %}{% if module.video.video_type == 'hubspot_video' and module.video.video_type == 'hubspot_video' %}{{ module.video.hubspot_video.video_url.href }}{% endif %}",
	"embedUrl": "{% if module.video.video_type == 'embed' and module.video.platform_options.platform == 'vimeo' %}https://player.vimeo.com/video/{{ module.video.platform_options.video_id }}{% endif %}{% if module.video.video_type == 'embed' and module.video.platform_options.platform == 'youtube' %}https://www.youtube.com/embed/{{ module.video.platform_options.video_id }}{% endif %}{% if module.video.video_type == 'hubspot_video' %}{{ module.video.hubspot_video.video_url.href }}{% endif %}",
	"uploadDate": "{{ module.video.schema.date_field }}"
}
				</script>
				<!-- End Schema -->

				{% if module.video.video_type == 'embed' %}
				<div class="m-video__mediaWrapper">

					{% if module.video.platform_options.platform == 'youtube' %}

					<script src="{{ get_asset_url('../../../js/vendor/vendor.lite-youtube.js') }}"></script>

					<lite-youtube class="m-video__liteVideo" videoid="{{ module.video.platform_options.youtube_video_id }}" {% if module.video.platform_options.video_poster.src %}style="background-image:url('{{ module.video.platform_options.video_poster.src }}');"{% endif %} autoload>

						<a href="https://youtube.com/watch?v={{ module.video.platform_options.youtube_video_id }}" class="m-video__playButton m-playbutton">    
							<div class="m-playbutton__icon">
								{% icon name="Play" style="SOLID" icon_set="fontawesome-5.14.0" width="30" %}
								<span class="show-for-sr">Play video</span>
							</div>

						</a>
					</lite-youtube>   

					{% endif %}

					{% if module.video.platform_options.platform == 'vimeo' %}
					<script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
					<lite-vimeo class="m-video__liteVideo" videoid="{{ module.video.platform_options.video_id }}"></lite-vimeo>
					{% endif %}

				</div>

				{% elif module.video.video_type == 'hubspot_video' %}

				{% if module.video.hubspot_video.video_url %}
				<div class="m-video__mediaWrapper">
					{{ video_helper.render_video(name ~ '_video_', module.video.hubspot_video) }}
				</div>
				{% endif %}

				{% else %}
				{{ module.video.embedded_code }}
				{% endif %}     

				{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

			</div>
		</div>
	</div>

	{% if module.scrollid %}
</div>
{% endif %}
