<nav id="{{ name }}" class="m-stickyAnchorLinks js-stickyLinks">

	<div class="m-stickyAnchorLinks__inner">

		<div class="m-stickyAnchorLinks__label">

			{% if module.media_type != 'none' %}
			<div class="m-stickyAnchorLinks__media m-stickyAnchorLinks__media--{{ module.media_type }}">
				{% if module.media_type == 'icon' %}
				{% icon name="{{ module.icon_field.name }}" 
			  style="{{ module.icon_field.type }}"
              unicode="{{ module.icon_field.unicode }}"
			  icon_set="{{ module.icon_field.icon_set }}"
			  width="{{ module.icon_size }}" %}
				{% elif module.media_type == 'image' %}
				{% if module.image_field.src %}
				{% set sizeAttrs = 'width="{{ module.image_field.width }}"
              height="{{ module.image_field.height }}"' %}
				{% if module.image_field.size_type == 'auto' %}
				{% set sizeAttrs =
              'width="{{ module.image_field.width }}" height="{{
              module.image_field.height }}" style="max-width: 100%; height:
              auto;"' %}
				{% elif module.image_field.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.image_field.max_width }}"
              height="{{ module.image_field.max_height }}" style="max-width: 100%;
              height: auto;"' %}
				{% endif %}

				{% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
				<img class="m-stickyAnchorLinks__mediaImage" src="{{ resize_image_url(module.image_field.src, 48, 48) }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
				{% endif %}

				{% endif %}
			</div>
			{% endif %}

			<span class="m-stickyAnchorLinks__labelText">{{ module.menu_label }}</span>

		</div>

		{% if module.links|length > 0 %}

		<button class="m-stickyAnchorLinks__navToggle js-slNavToggle">

			{% if module.media_type != 'none' %}
			<div class="m-stickyAnchorLinks__media m-stickyAnchorLinks__media--{{ module.media_type }}">
				{% if module.media_type == 'icon' %}
				{% icon name="{{ module.icon_field.name }}" 
			  style="{{ module.icon_field.type }}"
              unicode="{{ module.icon_field.unicode }}"
			  icon_set="{{ module.icon_field.icon_set }}"
			  width="{{ module.icon_size }}" %}
				{% elif module.media_type == 'image' %}
				{% if module.image_field.src %}
				{% set sizeAttrs = 'width="{{ module.image_field.width }}"
              height="{{ module.image_field.height }}"' %}
				{% if module.image_field.size_type == 'auto' %}
				{% set sizeAttrs =
              'width="{{ module.image_field.width }}" height="{{
              module.image_field.height }}" style="max-width: 100%; height:
              auto;"' %}
				{% elif module.image_field.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.image_field.max_width }}"
              height="{{ module.image_field.max_height }}" style="max-width: 100%;
              height: auto;"' %}
				{% endif %}

				{% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
				<img class="m-stickyAnchorLinks__mediaImage" src="{{ resize_image_url(module.image_field.src, 48, 48) }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
				{% endif %}

				{% endif %}
			</div>
			{% endif %}

			{{ module.mobile_label }}
			<svg class="m-stickyAnchorLinks__navToggleIcon" xmlns="http://www.w3.org/2000/svg" width="5.67" height="11.421" viewBox="0 0 5.67 11.421">
				<path id="Path_343" data-name="Path 343" d="M76.959,66.983l-.012-.012-.012.936h.012l3.78,4.774-3.791,4.751h0v.948l.012.012,5.659-5.711Z" transform="translate(-76.936 -66.971)" fill="var(--oceanBlue)"/>
			</svg>
		</button>

		<div class="m-stickyAnchorLinks__linksWrapper js-slNav">

			<ul class="m-stickyAnchorLinks__links">

				{% for item in module.links %}
				<li class="m-stickyAnchorLinks__item">

					{% set href = item.link_field.url.href %}
					{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}

					<a class="m-stickyAnchorLinks__link js-slLink" href="{% if href %}{{ href}}{% endif %}#{{ item.target }}" {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
					   {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}>{{ item.link_label }}</a>
				</li>
				{% endfor %}

			</ul>

		</div>

		{% elif is_in_editor %}
		{% editor_placeholder %}
		{% endif %}

	</div>

</nav>