.m-stickyAnchorLinks {
    background-color: var(--white);
}

html:not(.hs-inline-edit) .m-stickyAnchorLinks.fixed {
	position: fixed;
	top: var(--siteHeaderHeight);
	left: 0;
	width: 100%;
	height: var(--stickyAnchorsHeight);
	z-index: var(--zSticky);
}

.m-stickyAnchorLinks__inner {
	max-width: var(--containerWidth);
	height: 100%;
	margin-inline: auto;
}

.m-stickyAnchorLinks__media {
	width: 20px;
	height: 20px;
}

.m-stickyAnchorLinks__media--icon svg {
	width: 100%;
	height: 100%;
}

.m-stickyAnchorLinks__mediaImage {
	width: 100%;
    height: 100%;
	object-fit: contain;
}

.m-stickyAnchorLinks__navToggle {
	display: flex;
	align-items: center;
	gap: 0 var(--gridGutters);
	padding-inline: var(--space20);
	width: 100%;
	height: 100%;
	background-color: var(--white);
	border: 0;
	border-bottom: 1px solid;
	font-weight: var(--fontBold);
	line-height: 1;
}

.m-stickyAnchorLinks__navToggleIcon {
	margin-left: auto;
	rotate: 90deg;
}

.m-stickyAnchorLinks__navToggleIcon {
	transition: rotate var(--transitionSpeed);
}

.m-stickyAnchorLinks__navToggle.active .m-stickyAnchorLinks__navToggleIcon {
	rotate: -90deg;
}

.m-stickyAnchorLinks__linksWrapper {
	display: none;
}

.m-stickyAnchorLinks__links {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: var(--white);
}

.m-stickyAnchorLinks__item {
	margin: 0;
}

.m-stickyAnchorLinks__link {
	position: relative;
	display: block;
	padding: var(--space20);
	height: 100%;
	font-size: 1rem;
	text-decoration: none;
	transition: color var(--transitionSpeed);
}

.m-stickyAnchorLinks__link:after {
	content: '';
	position: absolute;
	bottom: -1px; /* Account for border of module */
	left: 0;
	width: 100%;
	height: 4px;
	background-color: transparent;
	transition: background var(--transitionSpeed);
}

.m-stickyAnchorLinks__link:hover,
.m-stickyAnchorLinks__link:focus-visible,
.m-stickyAnchorLinks__link.active {
	text-decoration: none;
}

.m-stickyAnchorLinks__link:hover:after,
.m-stickyAnchorLinks__link:focus-visible:after {

}

@media (width < 992px) {

	.m-stickyAnchorLinks__linksWrapper {

	}

	.m-stickyAnchorLinks__label {
		display: none;
	}

}

@media (width >= 992px) {

	.m-stickyAnchorLinks.fixed {

	}

	.m-stickyAnchorLinks__inner {
		display: flex;
		align-items: center;
		gap: 0 var(--gridGutters);
		padding-left: var(--moduleLeftSpacing);
		padding-right: var(--moduleRightSpacing);
	}

	.m-stickyAnchorLinks__navToggle {
		display: none;
	}

	.m-stickyAnchorLinks__label {
		display: flex;
		align-items: center;
		gap: 0 var(--space12);
	}

	.m-stickyAnchorLinks__labelText {

	}

	html .m-stickyAnchorLinks__linksWrapper {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.m-stickyAnchorLinks__links {
		display: flex;
		gap: var(--gridGutters);
		height: 100%;
	}

	.m-stickyAnchorLinks__link {
		padding: var(--space20) 0;
	}

	.m-stickyAnchorLinks__linksWrapper {
		height: 100%;
	}

	.m-stickyAnchorLinks__item {
		height: 100%;
	}

}
