{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-callToAction">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				<div class="m-callToAction__inner">           

					<{{ module.heading_type }} class="m-callToAction__heading">
						{{ module.heading }}
						</{{ module.heading_type }}>

						{% if module.summary %}
						<div class="m-callToAction__summary">
					{{ module.summary }}
				</div>
				{% endif %}

				{% if module.add_link_cta_  %}
				<div class="m-callToAction__cta">
					{{ link_helper.render_button(module.link_cta, name ~ '__button') }}
				</div>
				{% endif %}

			</div>

			{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

		</div>
	</div>
</div>

{% if module.scrollid %}
</div>
{% endif %}
