<!--
templateType: error_page
isAvailableForNewContent: true
label: Core Code - 404
screenshotPath: ../../images/template-previews/theme_preview.png
-->

{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  <section class="o-wrapper o-wrapper--module">
    <div class="o-container">
      <div class="m-errorPage m-errorPage--404">
        <div class="m-errorPage__inner">

          <div class="m-errorPage__content o-rte">
            {% module 'content' path='@hubspot/rich_text', html='
            <p class="m-errorPage__code">404 error</p>
            <h1>Page not found</h1>
            <p>The page you are looking for has moved or no longer exists. Try the navigation above, or head back to the homepage.</p>
            ' %}
          </div>

          <div class="m-errorPage__link">
            <a href="/" class="e-button e-button--primary">Return to homepage</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}
