<!--
templateType: "email_backup_unsubscribe_page"
label: Core Code - Backup unsubscribe
isAvailableForNewContent: true
-->

{% extends "../layouts/base.html" %}
{% block body %}

{% include '../partials/subscription_assets.html' %}

<main id="main-content" class="o-wrapper o-wrapper--module">
  <div class="m-communicationPreferences">
    {% email_simple_subscription "email_simple_subscription" input_help_text='Email unsubscribe', input_placeholder='email@example.com', header='', button_text='Unsubscribe', label='Backup Unsubscribe' %}
  </div>
</main>

{% endblock body %}
