{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-form">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading, module.enable_module_heading) }}

				{% if module.form_settings.form_field.form_id %}

				<div id="{{ name }}__form" class="m-form__form"></div>

				{{ require_js("//js.hsforms.net/forms/v2.js", "footer") }}

				{% require_js position='footer' %}
				<script>
					hbspt.forms.create({
						portalId: "{{ portal_id }}",
						formId: "{{ module.form_settings.form_field.form_id }}",
						target: '#{{ name }}__form',
						{% if module.form_settings.form_field.response_type == 'redirect' %}

						{% if module.form_settings.form_field.redirect_id %}
						{% set redirectURL = content_by_id(module.form_settings.form_field.redirect_id) %}
						redirectUrl: '{{ redirectURL.absolute_url }}',
						{% else %}
						redirectUrl: '{{ module.form_settings.form_field.redirect_url }}',
						{% endif %}

						{% else %}
						inlineMessage: '{{ module.form_settings.form_field.message|escapejson }}',
						{% endif %}
					});
				</script>
				{% end_require_js %}

				{% elif is_in_editor %}
				{% editor_placeholder %}
				{% endif %}

				{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

			</div>
		</div>
	</div>

	{% if module.scrollid %}
</div>
{% endif %}
