{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-statistics js-statistics">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading, module.enable_module_heading) }}

				<div class="m-statistics__inner">
					{% if module.statistics|length > 0 %}
					<div class="m-statistics__stats">
						{% for item in module.statistics %}
						<div id="{{name}}__item-{{loop.index}}" class="m-statistics__item">
							<div class="m-statistics__card">
								<div class="m-statistics__cardStat">

									{% if item.statistic_prefix %}
									<span class="m-statistics__cardStatElement">{{ item.statistic_prefix }}</span>
									{% endif %}  

									{% if item.statistic_figure %}
									<span class="m-statistics__cardStatElement js-count" data-value="{{ item.statistic_figure }}">0</span>
									{% endif %} 

									{% if item.statistic_symbol %}
									<span class="m-statistics__cardStatElement">{{ item.statistic_symbol }}</span>
									{% endif %}  

									{% if item.heading %}
									<p class="m-statistics__cardTitle">{{ item.heading }}</p>
									{% endif %}  

									{% if item.summary %}
									<p class="m-statistics__cardSummary">{{ item.summary }}</p>
									{% endif %}

								</div>

							</div> 
						</div>
						{% endfor %}
					</div>
				{% elif is_in_editor %}
				{% editor_placeholder %}
				{% endif %}
				</div>

				{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

			</div>
		</div>
	</div>

	{% if module.scrollid %}
</div>
{% endif %}
