{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-largeImageCta">
		<div class="m-largeImageCta__inner m-largeImageCta__inner--{{ module.display_variations.content_position }} o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{% if module.image_field.src and module.display_variations.choice_field != 'floating-content' %}
				<div class="m-largeImageCta__column m-largeImageCta__column--image">   
					{% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
					{% if module.image_field.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
					{% elif module.image_field.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
					{% endif %}
					{% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
					<img class="m-largeImageCta__image" src="{{ resize_image_url(module.image_field.src, 680, 438) }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }}>            
				</div>
				{% endif %}

				<div class="m-largeImageCta__column">
					<{{ module.heading_type }} class="m-largeImageCta__heading">
						{{ module.heading }}
						</{{ module.heading_type }}>
						{% if module.summary %}
						<p class="m-largeImageCta__summary">
					{{ module.summary }}
					</p>
					{% endif %}

				{% if module.add_link_cta_ %}
				<div class="m-largeImageCta__buttons">

					{% for item in module.link_cta %}
					<div class="m-largeImageCta__button">
						{{ link_helper.render_button(item, name ~ '__button_' ~ loop.index) }}
					</div>
					{% endfor %}

				</div>
				{% endif %}

			</div>

		</div>
	</div>
</div>

{% if module.scrollid %}
</div>
{% endif %}
