.m-largeImageCta {
    
}

.m-largeImageCta--reverse .m-largeImageCta__column--content {
  order: 1;
}

.m-largeImageCta--reverse .m-largeImageCta__column--image {
  order: 2;
}

.m-largeImageCta__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}