.m-searchBox__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
} 

.m-searchBox__formWrapper {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 400px;
    background-color: var(--white);
}

.m-searchBox__formWrapper.active {
    display: block;
}

.m-searchBox__form {
    position: relative;
}

.m-searchBox__form .m-searchForm__input {
    padding: var(--space20);
    border: none;
}

.m-searchBox__results {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

.m-searchBox__resultsLink,
.m-searchBox__resultsItem--no-results {
    display: block;
}

.m-searchBox__resultsLink,
.m-searchBox__resultsItem--no-results {
    display: block;
}

@media (width < 1200px){

    .m-searchBox__results {
        height: calc(100vh - var(--siteHeaderHeight));
    }

}

@media (width >= 1200px){

}