{% if module.banner_content.image_field.src and module.banner_content.image_field.loading == 'eager' %}
{% require_head %}
<link rel="preload" href="{{ module.banner_content.image_field.src }}" as="image" />
{% end_require_head %}
{% endif %}

{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<section id="{{ name }}" class="m-bannerStatic">

		<div class="m-bannerStatic__inner o-wrapper">

			{% if module.banner_content.image_field.src %}

			<div class="m-bannerStatic__media">

				{% set sizeAttrs = 'width="{{ module.banner_content.image_field.width }}" height="{{ module.banner_content.image_field.height }}"' %}
				{% if module.banner_content.image_field.size_type == 'auto' %}
				{% set sizeAttrs = 'width="{{ module.banner_content.image_field.width }}" height="{{ module.banner_content.image_field.height }}" style="max-width: 100%; height: auto;"' %}
				{% elif module.banner_content.image_field.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.banner_content.image_field.max_width }}" height="{{ module.banner_content.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = module.banner_content.image_field.loading != 'disabled' ? 'loading="{{ module.banner_content.image_field.loading|escape_attr }}"' : '' %}
				<img src="{{ module.banner_content.image_field.src }}" alt="{{ module.banner_content.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

			</div>	

			{% endif %}

			<div class="m-bannerStatic__content">

				{% if module.banner_content.subheading %}
				<h3 class="m-bannerStatic__subheading h6">
					{{ module.banner_content.subheading }}
				</h3>
				{% endif %}

				<{{ module.banner_content.heading_type }} class="m-bannerStatic__heading">{{ module.banner_content.heading }}</{{ module.banner_content.heading_type }}>


					{% if module.banner_content.summary %}                
					<div class="m-bannerStatic__summary o-rte">{{ module.banner_content.summary }}</div>
			{% endif %}

			{% if module.banner_content.buttons|length > 0 %}
			<div class="m-bannerStatic__actions">
				{% for button in module.banner_content.buttons %}
				{{ link_helper.render_button(button, name ~ '__button_' ~ loop.index) }}
				{% endfor %}
			</div>
			{% endif %}

		</div>	

		</div>

	</section>

{% if module.scrollid %}
</div>
{% endif %}
