.m-siteNavigation__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.m-siteNavigation__menuItem {
  position: relative;
}

.m-siteNavigation__menuItem.has-submenu {
  position: relative;
}

.m-siteNavigation__menuLink {
  display: flex;
  padding: var(--space20) 0;
  width: 100%;
}

.m-siteNavigation__menuLink:hover,
.m-siteNavigation__menuLink:focus-visible {
  text-decoration: none;
}

.m-siteNavigation__dropdown {
  display: none;
  list-style: none;
  margin: 0;
  padding: var(--space20) 0;
}

.m-siteNavigation__dropdown.active {
  display: block;
}

.m-siteNavigation__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: fill var(--transitionSpeed), transform var(--transitionSpeed);
}

.m-siteNavigation__arrow svg {
  width: 14px;
  height: 14px;
}

.m-siteNavigation__expand {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-color: transparent;
  border: none;
}

.m-siteNavigation__expand {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
}

.m-siteNavigation__expand.active {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z'/%3E%3C/svg%3E");
}

@media (width < 1200px) {
  .m-siteNavigation__menuItem {
    margin: 0 var(--space20);
  }

  .m-siteNavigation__arrow {
    display: none;
  }

  .m-siteNavigation__dropdown {
    margin: 0 calc(var(--space20) * -1);
  }
}

@media (width >= 1200px) {
  html .m-siteHeader__navigation {
    display: flex;
    margin-left: auto;
  }

  .m-siteNavigation__menu,
  .m-siteNavigation__menuItem {
    display: flex;
  }

  .m-siteNavigation__menuItem:hover .m-siteNavigation__menuLink--primary {
  }

  .m-siteNavigation__menuLink {
    padding-left: var(--space20);
    padding-right: var(--space20);
  }

  .m-siteNavigation__arrow {
    right: 10px;
  }

  .m-siteNavigation__menuItem--has-submenu.hovering
    .m-siteNavigation__arrow {
    transform: rotate(180deg) translateY(50%);
  }

  .m-siteNavigation__menuItem--has-submenu.hovering
    .m-siteNavigation__dropdown {
    display: block;
  }

  .m-siteNavigation__dropdown {
    padding: var(--space20);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 280px;
    z-index: 2;
  }

  .m-siteNavigation__menuLink--secondary {
    position: relative;
    padding: var(--space20) 0;
  }

  .m-siteNavigation__menuLink--secondary:hover,
  .m-siteNavigation__menuLink--secondary:focus-visible {
    text-decoration: underline;
  }

  .m-siteNavigation__expand {
    display: none;
  }
}
