/* Critical Header Styles - Above the fold */

div[data-global-resource-path*="header"] {
	position: sticky;
	top: 0;
	left: 0;
	z-index: var(--zSticky);
}

.m-siteHeader {
	position: relative;
	height: var(--siteHeaderHeight);
	z-index: var(--zBase);
	background: var(--white);
}

html.hs-inline-edit .m-siteHeader {
	position: relative;
}

.m-siteHeader__inner {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: var(--containerWidth);
	height: 100%;
	margin-inline: auto;
	padding: var(--space20);
}

.m-siteHeader__navigationgroup {
	padding-left: var(--space20);
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 0 var(--gridGutters);
}

.m-siteHeader__navigation {
	align-self: stretch;
}

.m-siteHeader__toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--touchArea);
	width: var(--touchArea);
	background: none;
	border: none;
	padding: 0;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'/%3E%3C/svg%3E");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.m-siteHeader__toggle:focus-visible {
	outline: var(--border2) solid var(--primaryColour);
	outline-offset: 2px;
}

.m-siteHeader__toggle.is-active {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3E%3C/svg%3E");
}

@media (width < 1200px) {
	.m-siteHeader__logo {
		max-width: 125px;
	}

	.m-siteHeader__navigation {
		display: none;
		position: absolute;
		z-index: var(--zDropdown);
		top: 100%;
		left: 0;
		right: 0;
		height: calc(100vh - var(--siteHeaderHeight));
		height: calc(100dvh - var(--siteHeaderHeight));
		overflow-y: auto;
		background-color: var(--white);
	}

	.m-siteHeader__navigation.is-active {
		display: flex;
		flex-direction: column;
	}
}

@media (width >= 1200px) {
	.m-siteHeader__navigation {
		display: flex;
	}

	.m-siteHeader__toggle {
		display: none;
	}
}
