.m-textMedia--reverse .m-textMedia__column--content {
  order: 2;
}

.m-textMedia--reverse .m-textMedia__column--media {
  order: 1;
}

.m-textMedia__inner {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: var(--gridGutters);
}

.m-textMedia__summary {
}

.m-textMedia__ctas {
}

.m-textMedia__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-textMedia__video {
  width: 100%;
  aspect-ratio: 16/9;
}

@media (width < 768px) {
  .m-textMedia__ctas .e-button + .e-button {
    margin-top: var(--space20);
  }
}

@media (width >= 992px) {
  .m-textMedia__inner {
  }

  .m-textMedia__inner--nomedia {
  }
}
