@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.m-siteSearch {
  position: relative;
  margin-inline: auto;
  max-width: var(--containerWidth);
  padding: var(--space48) var(--space20);
}

.m-siteSearch.loading:before {
  content: "";
  background-color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.m-siteSearch.loading:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 0.625rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform: translateY(-50%);
  text-indent: -9999em;
  border-style: solid;
  border-width: 5px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  -webkit-animation: spinner var(--transitionSpeed) infinite;
  animation: spinner var(--transitionSpeed) infinite;
}

.m-siteSearch__heading {
}

.m-siteSearch__form {
}

form input.m-siteSearch__formInput {
}

.m-siteSearch__formAction {
}

.m-siteSearch__formAction svg {
}

.m-siteSearch__formAction--clear {
}

.m-siteSearch__formAction--clear svg {
}

.m-siteSearch__formAction--submit {
}

.m-siteSearch__formAction--submit:hover,
.m-siteSearch__formAction--submit:focus-visible {
}

.m-siteSearch__resultCount {
}

.m-siteSearch__results {
}

.m-siteSearch__item {
}

.m-siteSearch__item + .m-siteSearch__item {
}

.m-siteSearch__itemInner {
}

.hs-search-results__listing {
  margin: 0;
  padding: 0;
  list-style: none;
}

.m-siteSearch__title {
}

.m-siteSearch__title a {
}

.m-siteSearch__title a:hover,
.m-siteSearch__title a:focus-visible {
}

.m-siteSearch__description:not(:empty) {
}

.m-siteSearch__button {
}

.m-siteSearch__link {
}

@media (width >= 992px) {
  .m-siteSearch {
  }

  .m-siteSearch__form {
  }

  .m-siteSearch__resultCount {
    margin-top: var(--space64);
  }

  .m-siteSearch__item + .m-siteSearch__item {
    margin-top: var(--space48);
    padding-top: var(--space48);
  }

  .m-siteSearch__title {
    font-size: 1.75rem;
  }
}

@media (width >= 1200px) {
  .m-siteSearch__item {
    max-width: 980px;
  }
}
