<!--
templateType: page
isAvailableForNewContent: false
enableDomainStylesheets: false
label: Core Code - Playground
screenshotPath: ../images/template-previews/theme_preview.png
-->

{% extends "./layouts/base.html" %} {% block body %} {# The main-content ID is
used for the navigation skipper in the header.html file. More information on the
navigation skipper can be found here:
https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content">
	{# All templates are recommended to have an h1 present for both accessibility
  and SEO best practice. This should be at the top of the template before any
  other textual content. The h1 element below is within a dnd area to allow
  content editors the ability to adjust the content and alignment of the text.
  #}
	{% dnd_area 'home' class='body-container body-container--home', label='Main
  section' %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/banners/banner_hero',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/accordion',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/documents_listing',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/features',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/form',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/map',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/icon_grid',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}
	
	{% dnd_section %}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path='/CoreCode/modules/page/image',
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/gallery',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/latest_news',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/large_image_cta',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/logo_section',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/pricing_comparison',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/pricing_grid',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/quick_links',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path="/CoreCode/modules/elements/RTE",
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/statistics',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/tabs_horizontal',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/testimonial',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/call_to_action',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/thumbnail_gallery',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/text_and_media',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/video',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/banners/banner_static',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/card_grid',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/article_grid',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/sticky_anchor_links',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/page/tabs_vertical',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path='/CoreCode/modules/elements/social_icons',
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% end_dnd_area %}
</main>
{% endblock body %}
