{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-quickLinks">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading,
    module.enable_module_heading) }}

				{% if module.links|length > 0 %}
				<div class="m-quickLinks__inner">

					<div class="m-quickLinks__column m-quickLinks__column--content">
						<ul class="m-quickLinks__links">
							{% for item in module.links %}
							<li class="m-quickLinks__linkItem">

								{% set href = item.link_field_1.url.href %}
								{% if item.link_field_1.url.type is equalto "EMAIL_ADDRESS" %}
								{% set href = "mailto:" + href %}
								{% endif %}
								<a href="{{ href }}"
								   {% if item.link_field_1.open_in_new_tab %}target="_blank"{% endif %}
								   {% if item.link_field_1.rel %}rel="{{ item.link_field_1.rel }}"{% endif %}
								   >


									{% if item.media_type != 'none' %}
									<div
										 class="m-quickLinks__linkMedia m-quickLinks__linkMedia--{{ item.media_type }}"
										 >
										{% if item.media_type == 'icon' %} {% icon name="{{
              item.icon_field.name }}" style="{{ item.icon_field.type }}"
              unicode="{{ item.icon_field.unicode }}" icon_set="{{
              item.icon_field.icon_set }}" width="{{ item.icon_size }}" %} {%
              elif item.media_type == 'image' %} {% if item.image_field.src %}
										{% set sizeAttrs = 'width="{{ item.image_field.width }}"
              height="{{ item.image_field.height }}"' %} {% if
              item.image_field.size_type == 'auto' %} {% set sizeAttrs =
              'width="{{ item.image_field.width }}" height="{{
              item.image_field.height }}" style="max-width: 100%; height:
              auto;"' %} {% elif item.image_field.size_type == 'auto_custom_max'
              %} {% set sizeAttrs = 'width="{{ item.image_field.max_width }}"
              height="{{ item.image_field.max_height }}" style="max-width: 100%;
              height: auto;"' %} {% endif %} {% set loadingAttr =
              item.image_field.loading != 'disabled' ? 'loading="{{
              item.image_field.loading }}"' : '' %}
										<img
											 class="m-quickLinks__linkImage"
											 src="{{ resize_image_url(item.image_field.src, 60, 60) }}"
											 alt="{{ item.image_field.alt }}"
											 {{
                loadingAttr
                }}
											 />

										{% endif %} {% endif %}
									</div>
									{% endif %}

									<p class="m-quickLinks__linkText">{{ item.text_field }}</p>

								</a>

							</li>
							{% endfor %}
						</ul>
					</div>

					{% if module.image_field %}
					<div class="m-quickLinks__column m-quickLinks__column--image">
						{% if module.image_field.src %} {% set sizeAttrs = 'width="{{
        module.image_field.width }}" height="{{ module.image_field.height }}"'
        %} {% if module.image_field.size_type == 'auto' %} {% set sizeAttrs =
        'width="{{ module.image_field.width }}" height="{{
        module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
						{% elif module.image_field.size_type == 'auto_custom_max' %} {% set
        sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{
        module.image_field.max_height }}" style="max-width: 100%; height:
        auto;"' %} {% endif %} {% set loadingAttr = module.image_field.loading
        != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
						<img
							 class="m-quickLinks__image"
							 src="{{ resize_image_url(module.image_field.src, 580, 580) }}"
							 alt="{{ module.image_field.alt }}"
							 {{
          loadingAttr
          }}
							 />

						{% endif %}

					</div>
					{% endif %}
				</div>

				{% elif is_in_editor %}
				{% editor_placeholder %}
				{% endif %}

				{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

			</div>
		</div>
	</div>

	{% if module.scrollid %}
</div>
{% endif %}
