.m-tabsHorizontal {
}

.m-tabsHorizontal__title {
  position: relative;
  padding: var(--space20) 0;
  cursor: pointer;
  margin: 0;
  font-weight: var(--fontBold);
}

@media (width < 992px) {
  .m-tabsHorizontal__titles {
    display: none;
  }

  .m-tabsHorizontal__tab {
    position: relative;
  }

  .m-tabsHorizontal__title {
    display: flex;
    align-items: center;
  }

  .m-tabsHorizontal__titleStatus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
  }

  .m-tabsHorizontal__titleStatus svg {
    transition: transform var(--transitionSpeed);
  }
}

@media (width >= 992px) {
  .m-tabsHorizontal:not(.is-initialized)
    .m-tabsHorizontal__panels
    .m-tabsHorizontal__tab:not(:first-of-type) {
    display: none;
  }

  .m-tabsHorizontal__titles {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .m-tabsHorizontal__titleItem {
    display: inline-flex;
  }

  .m-tabsHorizontal__title {
    height: 100%;
    padding: var(--space20);
  }

  .m-tabsHorizontal__title.is-selected {
    background: var(--grey20);
  }

  .m-tabsHorizontal__title:hover,
  .m-tabsHorizontal__title:focus-visible,
  .m-tabsHorizontal__title[aria-selected="true"] {
  }

  .m-tabsHorizontal__titleInner {
    position: relative;
    z-index: 2;
    pointer-events: none;
    display: inline-flex;
    column-gap: var(--gridGutters);
  }
}
