.o-wrapper {
	container-type: inline-size;
	container-name: o-wrapper;
	position: relative;
	padding: 0;
	width: 100%;
}

.o-wrapper--module {
	padding: var(--moduleTopSpacingMobile, var(--moduleTopSpacing))
	         var(--moduleRightSpacing)
	         var(--moduleBottomSpacingMobile, var(--moduleBottomSpacing))
	         var(--moduleLeftSpacing);
}

@media (width >= 992px) {
	.o-wrapper--module {
		padding: var(--moduleTopSpacingDesktop, var(--moduleTopSpacing))
		         var(--moduleRightSpacing)
		         var(--moduleBottomSpacingDesktop, var(--moduleBottomSpacing))
		         var(--moduleLeftSpacing);
	}
}

.o-container {
	max-width: var(--containerWidth);
	margin-inline: auto;
}

html.hs-inline-edit .default-module{
	background-color: var(--grey10);
	border: 1px dashed;
	padding: var(--space20);
	text-align: center;
	font-size: 1.125rem; /* 18px */
	font-weight: bold;
}

html:not(.hs-inline-edit) .default-module{
	display: none;
}

.dnd-section.collapse{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.dnd-section > .row-fluid {
	margin-inline: auto;
}

@media (width < 768px) {

	.dnd-section .dnd-column {
		padding: 0;
	}

}
