.o-rte > *:not(div):first-child {
	margin-top: 0;
}

.o-rte > *:not(div):last-child {
	margin-bottom: 0;
}

.o-rte > *:not(div):only-child {
	margin: 0;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

@media (width >= 992px) {

	h1 {}

	h2 {}

	h3 {}

	h4 {}

	h5 {}

	h6 {}

}