{% if module.scrollid %}
<div id="{{ module.scrollid }}" class="js-module">
	{% endif %}

	<div id="{{ name }}" class="m-pricingComparison">
		<div class="o-wrapper o-wrapper--module" style="--moduleTopSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_top }}px; --moduleBottomSpacingMobile: {{ module.style.spacing_alignment.spacing.mobile.padding_bottom }}px; --moduleTopSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_top }}px; --moduleBottomSpacingDesktop: {{ module.style.spacing_alignment.spacing.desktop.padding_bottom }}px;">
			<div class="o-container">

				{{ text_helpers.render_heading(module.module_heading, module.enable_module_heading) }}

				{% set columnWidth = 100 / (module.pricing_settings.product_columns|length + 1) %}
				<div class="m-pricingComparison__desktop theme-modifier--{{ module.pricing_settings.theme }}">
					<table class="m-pricingComparison__table">
						<thead>
							<tr>
								<th width="{{ columnWidth ~ '%' }}">{{ module.pricing_settings.features_column.features_heading }}</th>
								{% for item in module.pricing_settings.product_columns|map('product_heading') %}
								<th width="{{ columnWidth ~ '%' }}" style="text-align: {{ module.pricing_settings.product_columns[loop.index - 1].alignment ? module.pricing_settings.product_columns[loop.index - 1].alignment : 'left' }};">{{ item }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for outerIndex in range(module.pricing_settings.features_column.features|length) %}
							<tr>
								{% for item2 in module.pricing_settings.product_columns %}
								{% if loop.first %}
								<td>{{ module.pricing_settings.features_column.features[outerIndex].feature_name }}</td>
								{% endif %}
								{% set row = module.pricing_settings.product_columns[loop.index - 1].feature_rows[outerIndex] %}
								<td style="text-align: {{ module.pricing_settings.product_columns[loop.index - 1].alignment ? module.pricing_settings.product_columns[loop.index - 1].alignment : 'left' }};">
									{% if row.feature or row.add_icon %}
									{% if row.icon.icon_field_1.name %}
									<i class="m-pricingComparison__icon">
										{% icon
                     name="{{ row.icon.icon_field_1.name }}"
                     style="{{ row.icon.icon_field_1.type }}"
                     unicode="{{ row.icon.icon_field_1.unicode }}"
                     icon_set="{{ row.icon.icon_field_1.icon_set }}"
                     width="22"
                   %}
									</i>
									{% endif %}
									{% if row.feature %}
									<span class="m-pricingComparison__featureName {{ 'bold' if row.formatting_options is containing 'bold' }} {{ 'italic' if row.formatting_options is containing 'italic' }} {{ 'underline' if row.formatting_options is containing 'underline' }}">{{ row.feature }}</span>
									{% endif %}
									{% else %}
									&nbsp;
									{% endif %}
								</td>
								{% endfor %}
							</tr>
							{% endfor %}
							<tr>
								<td>&nbsp;</td>
								{% for item in module.pricing_settings.product_columns %}
								<td>{{ link_helper.render_button(item.product_link, name ~ '__button_' ~ loop.index, 'm-pricingComparison__button') }}</td>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>

				<div class="m-pricingComparison__mobile js-pricingComparison__mobile">
					<div class="m-pricingComparison__rotatorWrapper">
						<div class="m-pricingComparison__features">
							<div class="m-pricingComparison__heading">
								{{ module.pricing_settings.features_column.features_heading }}
							</div>
							<ul class="m-pricingComparison__list">
								{% for item in module.pricing_settings.features_column.features %}
								<li class="m-pricingComparison__listItem">
									<strong>{{ item.feature_name }}</strong>
								</li>
								{% endfor %}
							</ul>
						</div>

						<div class="m-pricingComparison__rotator splide js-rotator" data-rotator="{{ name }}">
							<div class="splide__track">
								<div class="splide__list">
									{% for item in module.pricing_settings.product_columns %}
									<div class="m-pricingComparison__rotatorItem splide__slide">
										<div class="m-pricingComparison__heading">
											{{ item.product_heading }}
										</div>

										{% set maximumFeatureRows = module.pricing_settings.product_columns|map('feature_rows')|map('length')|sort(true)|first|int %}

										<ul class="m-pricingComparison__list">
											{% for i in range(maximumFeatureRows) %}
											{% set item2 = item.feature_rows[i] %}
											<li class="m-pricingComparison__listItem">
												{% if item2.feature or item2.add_icon %}
												{% if item2.icon.icon_field_1.name %}
												<i class="m-pricingComparison__icon">
													{% icon
                            name="{{ item2.icon.icon_field_1.name }}"
                            style="{{ item2.icon.icon_field_1.type }}"
                            unicode="{{ item2.icon.icon_field_1.unicode }}"
                            icon_set="{{ item2.icon.icon_field_1.icon_set }}"
                            width="22"
                          %}
												</i>
												{% endif %}
												{% if item2.feature %}
												<span class="m-pricingComparison__featureName {{ 'bold' if item2.formatting_options is containing 'bold' }} {{ 'italic' if item2.formatting_options is containing 'italic' }} {{ 'underline' if item2.formatting_options is containing 'underline' }}">{{ item2.feature }}</span>
												{% endif %}
												{% else %}
												&nbsp;
												{% endif %}
											</li>
											{% endfor %}
											{% if item.product_link.button_type != 'none' and item.product_link.link_settings.link_field.url.href %}
											<li class="m-pricingComparison__listItem">
												{{ link_helper.render_button(item.product_link, name ~ '__button_' ~ loop.index, 'm-pricingComparison__button') }}
											</li>
											{% endif %}
										</ul>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="m-pricingComparison__dots splide__pagination m-dots"></div>
						</div>
					</div>
				</div>

				{{ link_helper.render_module_footer_cta(module.module_footer_cta, name) }}

			</div>
		</div>
	</div>

	{% if module.scrollid %}
</div>
{% endif %}

{{ require_css(get_asset_url('../../../css/vendor/vendor.splide.css')) }}
{{ require_css(get_asset_url('../../../css/modules/modules.dots.css')) }}
{{ require_js(get_asset_url('../../../js/vendor/vendor.splide.js'), { position: "footer", async: true }) }}

{% require_js position='footer' %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const rotator = document.querySelector('#{{ name }} .js-rotator');
		if (!rotator) return;

		const splide = new Splide(rotator, {
			type: 'slide',
			perPage: 1,
			perMove: 1,
			arrows: false,
			pagination: true,
			gap: 0,
			breakpoints: {
				868: {
					perPage: 3
				},
				628: {
					perPage: 2
				}
			}
		});

		splide.mount();
	});
</script>
{% end_require_js %}

