.m-features {

}

.m-features__inner {
	display: grid;
	gap: var(--space20) 0;
}

.m-features__features {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (width >= 992px){

	.m-features__inner {
		grid-template-columns: 1fr 1fr;
		gap: 0 var(--space24);
	}

}
